* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.body {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-style: italic;
}


.Todolist {
  margin: 0 auto;
  max-width: 600px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.Todolist-h1 {
  margin-top: 30px;
}


.Todolist-box-search-button:hover,
.Todo-List-background-mode:hover,
.custom-button:hover,
.Todo-plus-button:hover {
  cursor: pointer;
}

.Todolist-box {
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.Todolist-box-search {
  width: 500px;
  height: 35px;
  border: 2px solid #c3c1e5;
  border-radius: 10px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;

}

.Todolist-box-search-input {
  border: none;
  outline: none;
  width: 400px;
  margin-left: 15px;
}

.Todolist-box-search-input:focus {
  outline: none;
  border: none;
}

.Todolist-box-search-button {
  border: none;
  background-color: transparent;
  padding: 7px;
}

.Todo-List-background-mode {
  background-color: #6c63ff;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode {
  background-color: #252525;
  color: #fff;
}

.dark-mode .Todolist-box-search-button {
  background-color: #6c63ff;
}

.dark-mode input {
  background-color: #252525;
  color: #fff;
}

.Todo-List-background-mode {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.custom-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  width: 500px;
  height: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  font-family: Arial, sans-serif;
  display: none;
}

.custom-container-h2 {
  text-align: center;
}

.custom-input {
  width: calc(100% - 40px);
  display: flex;
  margin: 50px auto 0 auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #6c63ff;
  border-radius: 5px;
  font-size: 16px;
}

.custom-container-button-box {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0 auto;
}

.custom-button {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #6c63ff;
  color: #fff;
}

.dark-mode .custom-container {
  background-color: #252525;
}

.dark-mode .custom-container-h2 {
  color: white;
}

.dark-mode .custom-input {
  border: white;
}

.dark-mode .Todolist-box-search-button {
  background-color: transparent;
}

#notesContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 24px;
  margin-top: 20px;
  padding-bottom: 30px;
}

#notesContainer input[type="checkbox"] {
  border: 2px solid #6C63FF;
  width: 30px;
  height: 30px;
}

#notesContainer input[type="checkbox"]:checked {
  background-color: #6C63FF;
}

#notesContainer input[type="checkbox"]:active {
  background-color: #6C63FF;
}

.note-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.note-item span {
  font-size: 16px;
}

.note-checkbox {
  margin-right: 10px;
}

#noteInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.custom-button {
  padding: 10px 20px;
  background-color: #6c63ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #534cc2;
}

.todo-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #6c63ff;
}

.todo-item .delete-button:hover {
  content: url('images/delete-button-red.svg');
}

.todo-item label {
  margin-left: 10px;
  flex: 1;
}

.todo-item img {
  cursor: pointer;
}


.notesContainer-all-data-deleted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0 auto;

}

.all-data-deleted-p {
  font-size: 24px;
}

.Todo-plus-button {
  position: fixed;
  right: 25px;
  bottom: 25px;
  background-color: #6c63ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 7px;
  border: none;
}


.Todo-plus-button:hover {
  background-color: #534cc2;
}

.Todo-checkbox {
  accent-color: #6C63FF;
  border: 1px solid #6C63FF;
}

.allbtn {
  background-color: #6C63FF;
  width: 115px;
  height: 35px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.allbtn img {
  width: 15px; 
  height: 15px; 
}


.Todo-allmenu {
  position: relative;
  display: inline-block;
}

.Todo-allmenu-content {
  border: 2px solid #6C63FF ;
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 80px;
  z-index: 1;
}

.Todo-allmenu-content a {
  color: #6C63FF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.Todo-allmenu-content a:hover {
  background-color: #C2B2FF;
}

.show {
  display: block;
}

.Todo-listbtn{
  display: flex;
  margin-left: 25px;
}

.dark-mode .Todo-allmenu-content {
  background-color: #252525;
}

@media screen and (max-width: 768px) {
  .Todolist-box-search {
    width: 100%;
  }

  .Todolist-box-search-input {
    width: calc(100% - 40px);
  }

  .custom-container {
    width: 90%;
    max-width: 400px;
    height: auto;
  }

  .todo-item {
    margin-left: 10px;
    margin-right: 10px;

  }
}